{% include 'includes/header' %}
{% include 'includes/nav' %}

    <div class="content contentNarrow contentMain container contact">

      <h1>Contact LIFT</h1>

      <div class="colsContact">
        
        <div class="col">
          <h3>By Phone:</h3>
          <p>562-789-0880</p>
        </div>

        <div class="col">
          <h3>By Email:</h3>
          <p>email@liftrenewal.org</p>
        </div>

        <div class="col">
          <h3>By Snail Mail:</h3>
          <p>P.O. Box 4671<br>Whittier CA, 90607</p>
        </div>

        <div class="col">
          <h3>Connect Online:</h3>
          <p><i class="fa fa-facebook"></i> <a href="#">On Facebook</a><br>
          <i class="fa fa-twitter"></i> <a href="#">On Twitter</a></p>
        </div>

      </div>

     <div class="well">
       <div id="wufoo-z9aij2q0uhoak9">
        <script type="text/javascript">var z9aij2q0uhoak9;(function(d, t) {
        var s = d.createElement(t), options = {
        'userName':'liftrenewal',
        'formHash':'z9aij2q0uhoak9',
        'autoResize':true,
        'height':'597',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { z9aij2q0uhoak9 = new WufooForm();z9aij2q0uhoak9.initialize(options);z9aij2q0uhoak9.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');</script>
      </div>

     </div>

    </div><!-- /container -->

{% include 'includes/footer' %}