    <footer>
      
      <div class="container">

        <ul class="hor-list">
          <li><a href="http://www.upperroom.org/" title="The Upper Room">The Upper Room</a></li>
          <li><a href="http://www.biblegateway.com" title="Read the Bible">Read the Bible</a></li>
          <li><a href="http://foundationforevangelism.org/resources/" title="Evangelism Resources">Evangelism Resources</a></li>
        </ul>

        <p class="center">&copy; LIFT Renewal Ministries</p>

        <p class="center"><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png"></a></p>

      </div>

    </footer>

  </body>
</html>