{% include 'includes/header' %}
{% include 'includes/nav' %}


    {% if type != "post" %}
    <div class="content withSidebar container">

      <h1>Event Calendar</h1>

      <blockquote class="pageQuote">{{ body }}</blockquote>

      <div class="contentMain">
        
        <iframe class="googleCal" src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23D5D5D7&amp;src=lift.jgill%40gmail.com&amp;color=%23182C57&amp;ctz=America%2FLos_Angeles" frameborder="0" scrolling="no"></iframe>

      </div>

      <div class="contentSidebar">
        <h3 class="center">Event Details</h3>

        {% for post in site.pages.events.posts limit:3 %}
        {% unless post.date < site.date %}
        <div class="event">
          <h3><a href="{{post.url}}">{{post.title}}</a></h3>
          <p class="eventDate">{{post.date | date: "%b %d, %Y"}}{% if post.meta['end-date'] %}&nbsp;&mdash;&nbsp;{% endif %}{{post.meta['end-date']}}</p>
          <p>{{post.body | strip_html | truncatewords: 20}}</p>
        </div>
        {% endunless %}
        {% endfor %}
        
      </div>

    </div><!-- /container -->
    {% endif %}

    {% if type == "post" %}
    <div class="content contentNarrow container eventDetails">

      <a class="backPage" href="/events"><i class="fa fa-chevron-left"></i> Back</a>

      <h1>{{title}}</h1>

      <h2>{{date | date: "%B %d, %Y"}}{% if meta['end-date'] %}&nbsp;&mdash;&nbsp;{% endif %}{{meta['end-date']}}</h2>

      {% if meta['location'] %}
      <div class="well">
        <h3 class="center">{{meta['location']}}{% if meta['address'] %}<br>{{meta['address']}} <a href="http://maps.google.com/?q={{meta['address']}}">map</a>{% endif %}</h3>
      </div>
      {% endif %}

      {% for asset in assets %}
        {% if asset.type == 'image' %}
        <img class="photo" src="{{asset.url}}">
        {% endif %}
      {% endfor %}

      {{body}}

    </div><!-- /container -->
    {% endif %}


{% include 'includes/footer' %}